.anchor
.DS_Store
**/*.rs.bk
node_modules
target
test-ledger
.yarn
.idea
.vscode

# keypairs
id.json
tests/restaking/keypairs/**/*
!tests/restaking/keypairs/.gitkeep

# repl
**/.ipynb_checkpoints/**/*
