.anchor
.DS_Store
**/*.rs.bk
node_modules
target
test-ledger
.yarn
.idea
.vscode
*.tsbuildinfo
coverage
.pnpm-store

# keypairs
id.json
mainnet-id.json

keypairs/**/*
!keypairs/shared_*
!keypairs/*/
!keypairs/*/shared_*

# test snapshots
tests/restaking.snapshot.txt

# rust dev environment
rust-toolchain
