.anchor
.DS_Store
**/*.rs.bk
node_modules
target
test-ledger
.yarn
.idea
.vscode

# keypairs
id.json
mainnet-id.json

keypairs/**/*
!keypairs/shared_*
!keypairs/restaking/
!keypairs/restaking/shared_*