[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
dummy = "A58NQYmJCyDPsc1EfaQZ99piFopPtCYArP242rLTbYbV"
restaking = "fragfP1Z2DXiXNuDYaaCnbGvusMP1DNQswAqTwMuY6e"

[programs.localnet]
dummy = "A58NQYmJCyDPsc1EfaQZ99piFopPtCYArP242rLTbYbV"
restaking = "fragfP1Z2DXiXNuDYaaCnbGvusMP1DNQswAqTwMuY6e"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "./id.json"

[scripts]
set-dev-wallet = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .wallet | jq -c fromjson > id.json && [ -s ./id.json ] && echo \"encrypt_dev/wallet data copied to ./id.json\""
set-devnet-dummy-program-keypair = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .dummyProgramKeypair | jq -c fromjson > ./programs/dummy/id.json && [ -s ./programs/dummy/id.json ] && echo \"encrypt_dev/dummyProgramKeypair data copied to ./programs/dummy/id.json\""
set-devnet-restaking-program-keypair = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .restakingProgramKeypair | jq -c fromjson > ./programs/restaking/id.json && [ -s ./programs/restaking/id.json ] && echo \"encrypt_dev/restakingProgramKeypair data copied to ./programs/restaking/id.json\""
set-mainnet-restaking-program-keypair = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_prd --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .restakingProgramKeypair | jq -c fromjson > ./programs/restaking/mainnet-id.json && [ -s ./programs/restaking/mainnet-id.json ] && echo \"encrypt_prd/restakingProgramKeypair data copied to ./programs/restaking/mainnet-id.json\""

test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test-dummy = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/dummy.ts"
test-restaking = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/restaking.ts"

[test.validator]
bind_address = "0.0.0.0"
url = "https://api.mainnet-beta.solana.com"
ledger = ".anchor/test-ledger"
rpc_port = 8899

# mock mainnet bSOL mint
[[test.validator.account]]
address = "bSo13r4TkiE4KumL71LsHTPpL2euBYLFx6h9HP3piy1"
filename = "tests/restaking/lsts/mainnet/clones/bSOL_mint.json"

# clone devnet bSOL stake pool
[[test.validator.account]]
address = "azFVdHtAJN8BX3sbGAYkXvtdjdrT5U6rj9rovvUFos9"
filename = "tests/restaking/lsts/devnet/clones/bSOL_stake_pool.json"

# mock mainnet mSOL mint
[[test.validator.account]]
address = "mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"
filename = "tests/restaking/lsts/mainnet/clones/mSOL_mint.json"

# clone mainnet mSOL stake pool
[[test.validator.clone]]
address = "8szGkuLTAux9XMgZ2vtY39jVSowEcpBfFfD8hXSEqdGC"

# mock mainnet JitoSOL mint
[[test.validator.account]]
address = "J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn"
filename = "tests/restaking/lsts/mainnet/clones/JitoSOL_mint.json"

# clone mainnet JitoSOL stake pool
[[test.validator.clone]]
address = "Jito4APyf642JPZPx3hGc6WWJ8zPKtRbRs4P815Awbb"

# mock mainnet INF mint
[[test.validator.account]]
address = "5oVNBeEEQvYi1cX3ir8Dx5n1P7pdxydbGF2X4TxVusJm"
filename = "tests/restaking/lsts/mainnet/clones/INF_mint.json"
