[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
dummy = "A58NQYmJCyDPsc1EfaQZ99piFopPtCYArP242rLTbYbV"

[programs.localnet]
dummy = "A58NQYmJCyDPsc1EfaQZ99piFopPtCYArP242rLTbYbV"
restaking = "9UpfJBgVKuZ1EzowJL6qgkYVwv3HhLpo93aP8L1QW86D"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "./id.json"

[scripts]
set-devnet-wallet = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .wallet | jq -c fromjson > id.json && [ -s ./id.json ] && echo \"encrypt_dev/wallet data copied to ./id.json\""
set-devnet-dummy-program-keypair = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .dummyProgramKeypair | jq -c fromjson > ./programs/dummy/id.json && [ -s ./programs/dummy/id.json ] && echo \"encrypt_dev/dummyProgramKeypair data copied to ./programs/dummy/id.json\""
set-devnet-restaking-program-keypair = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .restakingProgramKeypair | jq -c fromjson > ./programs/restaking/id.json && [ -s ./programs/restaking/id.json ] && echo \"encrypt_dev/restakingProgramKeypair data copied to ./programs/restaking/id.json\""
set-mainnet-restaking-program-keypair = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_prd --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .restakingProgramKeypair | jq -c fromjson > ./programs/restaking/mainnet-id.json && [ -s ./programs/restaking/mainnet-id.json ] && echo \"encrypt_prd/restakingProgramKeypair data copied to ./programs/restaking/mainnet-id.json\""

test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test-dummy = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/dummy.ts"
