[toolchain]

[features]
resolution = true
skip-lint = false

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./keypairs/shared_wallet_GiDkDCZjVC8Nk1Fd457qGSV2g3MQX62n7cV5CvgFyGfF.json"

[scripts]
sync-keypairs = "tsx tools/restaking/keychain_sync_entrypoint.ts"
download-keypairs = "cd keypairs && (which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq -r 'to_entries[] | \"\\(.key) \\(.value)\"' | while read -r key value; do echo $value > $key; done"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "./tests/mocks/mainnet/mpl-token-metadata.so"

# [[test.genesis]]
# address = "SPoo1Ku8WFXoNDMHPsrGSTSG1Y47rzgn41SLUNakuHy"
# program = "./tools/restaking/modules/staking/spl_stake_pool.so"

[test.validator]
url = "https://api.mainnet-beta.solana.com" # where to clone below acconts from
slots_per_epoch = "32"
bind_address = "0.0.0.0"
ledger = ".anchor/test-ledger"
rpc_port = 8899

# *bSOL, jitoSOL
# clone mainnet SPL stake pool program to localnet
[[test.validator.clone]]
address = "SPoo1Ku8WFXoNDMHPsrGSTSG1Y47rzgn41SLUNakuHy"

# clone mainnet SPL stake pool executable data account to localnet
[[test.validator.clone]]
address = "EmiU8AQkB2sswTxVB6aCmsAJftoowZGGDXuytm6X65R3"

# clone mainnet bSOL mint to localnet
[[test.validator.clone]]
address = "bSo13r4TkiE4KumL71LsHTPpL2euBYLFx6h9HP3piy1"

# clone mainnet bSOL stake pool to localnet
[[test.validator.clone]]
address = "stk9ApL5HeVAwPLr3TLhDXdZS8ptVu7zp6ov8HFDuMi"

# clone mainnet jitoSOL mint to localnet
[[test.validator.clone]]
address = "J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn"

# clone mainnet jito stake pool to localnet
[[test.validator.clone]]
address = "Jito4APyf642JPZPx3hGc6WWJ8zPKtRbRs4P815Awbb"

# clone mainnet jito stake pool's validator list account to localnet
[[test.validator.clone]]
address = "3R3nGZpQs2aZo5FDQvd2MUQ6R7KhAPainds6uT6uE2mn"

# clone mainnet jitoSOL stake pool reserve stake account to localnet
[[test.validator.clone]]
address = "BgKUXdS29YcHCFrPm5M8oLHiTzZaMDjsebggjoaQ6KFL"

# clone mainnet jitoSOL stake pool fee account to localnet
[[test.validator.clone]]
address = "feeeFLLsam6xZJFc6UQFrHqkvVt4jfmVvi2BRLkUZ4i"

# clone mainnet BNSOL mint to localnet
[[test.validator.clone]]
address = "BNso1VUJnh4zcfpZa6986Ea66P6TCp59hvtNJ8b1X85"

# clone mainnet BNSOL stake pool to localnet
[[test.validator.clone]]
address = "Hr9pzexrBge3vgmBNRR8u42CNQgBXdHm4UkUN2DH4a7r"

# *mSOL
# ref: https://docs.marinade.finance/developers/contract-addresses#tokens
# clone mainnet Marinade stake pool program to localnet
[[test.validator.clone]]
address = "MarBmsSgKXdrN1egZf5sqe1TMai9K1rChYNDJgjq7aD"

# clone mainnet Marinade stake pool executable data account to localnet
[[test.validator.clone]]
address = "4PQH9YmfuKrVyZaibkLYpJZPv2FPaybhq2GAuBcWMSBf"

# clone mainnet mSOL mint to localnet
[[test.validator.clone]]
address = "mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"

# clone mainnet mSOL stake pool to localnet
[[test.validator.clone]]
address = "8szGkuLTAux9XMgZ2vtY39jVSowEcpBfFfD8hXSEqdGC"

# clone mainnet mSOL liqudity pool to localnet
[[test.validator.clone]]
address = "7GgPYjS5Dza89wV6FpZ23kUJRG5vbQ1GM25ezspYFSoE"

# *jitoVRT
# clone mainnet Jito restaking protocol to localnet
[[test.validator.clone]]
address = "Vau1t6sLNxnzB7ZDsef8TLbPLfyZMYXH8WTNqUdm9g8"

# program executable data account for Jito restaking protocol
[[test.validator.clone]]
address = "96nH6npzmaAWpmraLaN2F55h27TMEtJrsjo881dCc2Dt"

# clone mainnet Jito restaking protocol Config to localnet
[[test.validator.account]]
address = "UwuSgAq4zByffCGCrWH87DsjfsewYjuqHfJEpzw1Jq3"
filename = "./tests/mocks/mainnet/jito_vault_config.json"

[[test.validator.account]]
address = "9rNA5PpjRPGxexDSoffQ8yRhMBMvRQrffwSnDBcXJjwY"
filename = "./tests/mocks/mainnet/jito_vault.json"

[[test.validator.account]]
address = "J6AS6PFJip13cStdiuvRrLz2hDZiZvxdLhmsopN7YTDM"
filename = "./tests/mocks/mainnet/jito_vault_vrt.json"

[[test.validator.account]]
address = "7N3VJBtCAm5vgUBG3kTAdhMMe4PzPFTT5wF3aGye6kDh"
filename = "./tests/mocks/mainnet/jito_program_fee_wallet_vrt_account.json"
