[toolchain]

[workspace]
members = [
    "programs/restaking",
]

[features]
resolution = true
skip-lint = false

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./keypairs/shared_wallet_GiDkDCZjVC8Nk1Fd457qGSV2g3MQX62n7cV5CvgFyGfF.json"

[scripts]
sync-keypairs = "tsx tools/restaking/keychain_sync_entrypoint.ts"
download-keypairs = "cd keypairs && (which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq -r 'to_entries[] | \"\\(.key) \\(.value)\"' | while read -r key value; do echo $value > $key; done"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
sync-test-accounts = "tsx tests/mock_mainnet_accounts.ts"

[test]
startup_wait = 50000

[test.validator]
#url = "https://api.mainnet-beta.solana.com" # where to clone below acconts from
slots_per_epoch = "32"
bind_address = "0.0.0.0"
ledger = ".anchor/test-ledger"
rpc_port = 8899

# *metaplex
# clone mainnet metaplex program to localnet
[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "./tests/mocks/mainnet/metaplex.so"

# *bSOL, jitoSOL
# clone mainnet SPL stake pool program to localnet
[[test.genesis]]
address = "SPoo1Ku8WFXoNDMHPsrGSTSG1Y47rzgn41SLUNakuHy"
program = "./tests/mocks/mainnet/spl_stake_pool.so"

# clone mainnet bSOL mint to localnet
[[test.validator.account]]
address = "bSo13r4TkiE4KumL71LsHTPpL2euBYLFx6h9HP3piy1"
filename = "./tests/mocks/mainnet/bSOL_mint.json"

# clone mainnet bSOL stake pool to localnet
[[test.validator.account]]
address = "stk9ApL5HeVAwPLr3TLhDXdZS8ptVu7zp6ov8HFDuMi"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_account.json"

# clone mainnet jitoSOL mint to localnet
[[test.validator.account]]
address = "J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn"
filename = "./tests/mocks/mainnet/jitoSOL_mint.json"

# clone mainnet jito stake pool to localnet
[[test.validator.account]]
address = "Jito4APyf642JPZPx3hGc6WWJ8zPKtRbRs4P815Awbb"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_account.json"

# clone mainnet jito stake pool's validator list account to localnet
[[test.validator.account]]
address = "3R3nGZpQs2aZo5FDQvd2MUQ6R7KhAPainds6uT6uE2mn"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_list_account.json"

# clone mainnet jitoSOL stake pool reserve stake account to localnet
[[test.validator.account]]
address = "BgKUXdS29YcHCFrPm5M8oLHiTzZaMDjsebggjoaQ6KFL"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_reserve_stake_account.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "GRvL6V7cmr4jVoZuLR7YrzShKUacjJYVEEGZQpma3wwb"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_1.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "uLzZmaSUcdcURgGLQWXJdtsUoJPdVA8uwFUdFCpSGfm"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_2.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "AxGRWMRUutAtgr7PDA1Qc8f8yhfLy3M75aPGWpvH93e9"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_3.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "9vr1htervkxNiT5vSohjaTBefFCnBbLPeAdHCiUVvX6e"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_4.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "FWtYEYMhNYJGdGstQ6L6ekSpcYEfQHrzKdeYd1tSE1RR"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_5.json"

# clone mainnet jitoSOL stake pool manager fee account to localnet
[[test.validator.account]]
address = "feeeFLLsam6xZJFc6UQFrHqkvVt4jfmVvi2BRLkUZ4i"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_manager_fee_account.json"

# clone mainnet BNSOL mint to localnet
[[test.validator.account]]
address = "BNso1VUJnh4zcfpZa6986Ea66P6TCp59hvtNJ8b1X85"
filename = "./tests/mocks/mainnet/BNSOL_mint.json"

# clone mainnet BNSOL stake pool to localnet
[[test.validator.account]]
address = "Hr9pzexrBge3vgmBNRR8u42CNQgBXdHm4UkUN2DH4a7r"
filename = "./tests/mocks/mainnet/BNSOL_stake_pool_account.json"

# *mSOL
# ref: https://docs.marinade.finance/developers/contract-addresses#tokens
# clone mainnet Marinade stake pool program to localnet
[[test.genesis]]
address = "MarBmsSgKXdrN1egZf5sqe1TMai9K1rChYNDJgjq7aD"
program = "./tests/mocks/mainnet/marinade_stake_pool.so"

# clone mainnet mSOL mint to localnet
[[test.validator.account]]
address = "mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"
filename = "./tests/mocks/mainnet/mSOL_mint.json"

# clone mainnet mSOL stake pool to localnet
[[test.validator.account]]
address = "8szGkuLTAux9XMgZ2vtY39jVSowEcpBfFfD8hXSEqdGC"
filename = "./tests/mocks/mainnet/mSOL_stake_pool_account.json"

# clone mainnet mSOL liqudity pool to localnet
[[test.validator.account]]
address = "7GgPYjS5Dza89wV6FpZ23kUJRG5vbQ1GM25ezspYFSoE"
filename = "./tests/mocks/mainnet/mSOL_liquidity_pool_account.json"

# *bbSOL
# clone mainnet Sanctum single validator stake pool program to localnet
[[test.genesis]]
address = "SP12tWFxD9oJsVWNavTTBZvMbA6gkAmxtVgxdqvyvhY"
program = "./tests/mocks/mainnet/sanctum_single_validator_stake_pool.so"

# clone mainnet bbSOL mint to localnet
[[test.validator.account]]
address = "Bybit2vBJGhPF52GBdNaQfUJ6ZpThSgHBobjWZpLPb4B"
filename = "./tests/mocks/mainnet/bbSOL_mint.json"

# clone mainnet bbSOL stake pool to localnet
[[test.validator.account]]
address = "2aMLkB5p5gVvCwKkdSo5eZAL1WwhZbxezQr1wxiynRhq"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_account.json"

# clone mainnet bbSOL stake pool's validator list account to localnet
[[test.validator.account]]
address = "BPVx5RBixdZVecvoDSFECMc8jXkLNTmQp65WYKJz9nr5"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_validator_list_account.json"

# clone mainnet bbSOL stake pool reserve stake account to localnet
[[test.validator.account]]
address = "7huMsYqSXb1m4okiAJgQLPTamgHD2GvWhAou7vhzF51r"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_reserve_stake_account.json"

# clone mainnet bbSOL stake pool manager fee account to localnet
[[test.validator.account]]
address = "HcacehDEp8W4wSdy2oi4HgVoSWwMJDr1kZwXUBSuFfKK"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_manager_fee_account.json"

# clone mainnet bbSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "71t7QTJ5HsoCdP7gmz2eupSRYzAXFXBKzZwZjmyrWzjz"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_validator_stake_account_1.json"

# *jitoVRT
# clone mainnet Jito restaking vault protocol to localnet
[[test.genesis]]
address = "Vau1t6sLNxnzB7ZDsef8TLbPLfyZMYXH8WTNqUdm9g8"
program = "./tests/mocks/mainnet/jito_restaking_vault.so"

# clone mainnet Jito restaking vault protocol global config to localnet
[[test.validator.account]]
address = "UwuSgAq4zByffCGCrWH87DsjfsewYjuqHfJEpzw1Jq3"
filename = "./tests/mocks/mainnet/jito_vault_config_epoch_length_256.json"

# clone mainnet Jito restaking vault protocol program fee wallet to localnet
[[test.validator.account]]
address = "5eosrve6LktMZgVNszYzebgmmC7BjLK8NoWyRQtcmGTF"
filename = "./tests/mocks/mainnet/jito_program_fee_wallet_vrt_account.json"

# clone mainet Jito restaking protocol to localnet
[[test.genesis]]
address = "RestkWeAVL8fRGgzhfeoqFhsqKRchg6aa1XrcH96z4Q"
program = "./tests/mocks/mainnet/jito_restaking_program.so"

# clone mainnet Jito restaking protocol global config to localnet
[[test.validator.account]]
address = "4vvKh3Ws4vGzgXRVdo8SdL4jePXDvCqKVmi21BCBGwvn"
filename = "./tests/mocks/mainnet/jito_restaking_config.json"

# clone empty Jito restaking protocol operator for test
[[test.validator.account]]
address = "2p4kQZTYL3jKHpkjTaFULvqcKNsF8LoeFGEHWYt2sJAV"
filename = "./tests/mocks/local/jito_restaking_operator_1.json"

# clone empty Jito restaking protocol ncn for test
[[test.validator.account]]
address = "FT69N1tbmjqmwFWmWvB18xvZwfiX43b9jpLUAmEiLDeC"
filename = "./tests/mocks/local/jito_restaking_ncn_1.json"

# clone empty Jito restaking vault of fragsol nsol vault
[[test.validator.account]]
address = "9rNA5PpjRPGxexDSoffQ8yRhMBMvRQrffwSnDBcXJjwY"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault.json"

# clone empty vrt mint for Jito restaking vault of fragsol nsol vault
[[test.validator.account]]
address = "J6AS6PFJip13cStdiuvRrLz2hDZiZvxdLhmsopN7YTDM"
filename = "./tests/mocks/local/fragsol_jito_nsol_vrt_mint.json"

# clone initial ALT of fragsol for faster bootstrap
[[test.validator.account]]
address = "G45gQa12Uwvnrp2Yb9oWTSwZSEHZWL71QDWvyLz23bNc"
filename = "./tests/mocks/local/fragsol_address_lookup_table.json"

# clone empty Jito restaking vault of fragsol jitosol vault
[[test.validator.account]]
address = "6m2a6ybV4rZ3T5s3oBVDsU2rUuv6ByyCs3KMtv316F4b"
filename = "./tests/mocks/local/fragsol_jito_jitosol_vault.json"

# clone empty vrt mint for Jito restaking vault of fragsol jitosol vault
[[test.validator.account]]
address = "7FViuSBAkJktHkN4jFxFRSmKat9hNenf3MDcbhVRSu24"
filename = "./tests/mocks/local/fragsol_jito_jitosol_vrt_mint.json"

# *JTO
# clone mainnet JTO mint to localnet
[[test.validator.account]]
address = "jtojtomepa8beP8AuQc6eXt5FriJwfFMwQx2v2f9mCL"
filename = "./tests/mocks/mainnet/jto_mint.json"

# clone initial ALT of fragjto for faster bootstrap
[[test.validator.account]]
address = "FQ3yeuugxQ6ZhdcoTrFdm8h42uEMpjCnor1kEuvVEsdw"
filename = "./tests/mocks/local/fragjto_address_lookup_table.json"

[[test.validator.account]]
address = "2UhFnySoJi6c89aydGAGS7ZRemo2dbkFRhvSJqDX4gHJ"
filename = "./tests/mocks/mainnet/jto_liquidity_pool_account.json"

# clone empty Jito restaking vault of fragJTO
[[test.validator.account]]
address = "C7sXJS2nGtk6wALstidEtwEnKFgdUmXtJYHsRdSHpnG2"
filename = "./tests/mocks/local/fragjto_jito_jto_vault.json"

# clone empty mint for Jito restaking vault of fragJTO
[[test.validator.account]]
address = "C4XojL5AHPS79KVenf5UPESSdrizJNqA6W5qBXauBtsr"
filename = "./tests/mocks/local/fragjto_jito_jto_vrt_mint.json"
