[toolchain]
anchor_version = "0.32.1"

[workspace]
members = [
    "programs/restaking",
    "programs/solv",
]

[features]
resolution = true
skip-lint = false

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./keypairs/shared_wallet_GiDkDCZjVC8Nk1Fd457qGSV2g3MQX62n7cV5CvgFyGfF.json"
