[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
dummy = "5yYKAKV5r62ooXrKZNpxr9Bkk7CTtpyJ8sXD7k2WryUc"

[programs.localnet]
dummy = "CuYyiJ8dQZ4ZvS8Wonkua97i6fGcY1jctd7PT5pLKuSC"
restaking = "9UpfJBgVKuZ1EzowJL6qgkYVwv3HhLpo93aP8L1QW86D"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "./id.json"

[scripts]
set-dev-wallet = "(which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq .devnet | jq -c fromjson > id.json && cat id.json >/dev/null && echo \"encrypt_dev/wallet data copied to ./id.json\""
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
test-dummy = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/dummy.ts"
