[toolchain]

[workspace]
members = [
    "programs/restaking",
]

[features]
resolution = true
skip-lint = false

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./keypairs/shared_wallet_GiDkDCZjVC8Nk1Fd457qGSV2g3MQX62n7cV5CvgFyGfF.json"

[scripts]
sync-keypairs = "tsx tools/restaking/keychain_sync_entrypoint.ts"
download-keypairs = "cd keypairs && (which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq -r 'to_entries[] | \"\\(.key) \\(.value)\"' | while read -r key value; do echo $value > $key; done"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
sync-test-accounts = "tsx tests/mocks/mock_mainnet_accounts.ts"

[test]
startup_wait = 50000

[test.validator]
#url = "https://api.mainnet-beta.solana.com" # where to clone below acconts from
slots_per_epoch = "32"
bind_address = "0.0.0.0"
ledger = ".anchor/test-ledger"
rpc_port = 8899

###### metaplex ######
# clone mainnet metaplex program to localnet
[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "./tests/mocks/mainnet/metaplex.so"

###### SPL Stake Pool ######
# clone mainnet SPL stake pool program to localnet
[[test.genesis]]
address = "SPoo1Ku8WFXoNDMHPsrGSTSG1Y47rzgn41SLUNakuHy"
program = "./tests/mocks/mainnet/spl_stake_pool.so"

###### bSOL ######
# clone mainnet bSOL mint to localnet
[[test.validator.account]]
address = "bSo13r4TkiE4KumL71LsHTPpL2euBYLFx6h9HP3piy1"
filename = "./tests/mocks/mainnet/bSOL_mint.json"

# clone mainnet bSOL stake pool to localnet
[[test.validator.account]]
address = "stk9ApL5HeVAwPLr3TLhDXdZS8ptVu7zp6ov8HFDuMi"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_account.json"

# clone mainnet bSOL stake pool's validator list account to localnet
[[test.validator.account]]
address = "1istpXjy8BM7Vd5vPfA485frrV7SRJhgq5vs3sskWmc"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_validator_list_account.json"

# clone mainnet bSOL stake pool reserve stake account to localnet
[[test.validator.account]]
address = "rsrxDvYUXjH1RQj2Ke36LNZEVqGztATxFkqNukERqFT"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_reserve_stake_account.json"

# clone mainnet bSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "2WynXLkYCvFX59cJCeZPi43Pd4WYy9CrX9spAYS1WNhY"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_validator_stake_account_1.json"

# clone mainnet bSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "4EAn9WivVpcxcDMFcg8UJvVYd9PrNQJLCWfJLpgvXYyu"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_validator_stake_account_2.json"

# clone mainnet bSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "8Xdr77VSPnj5imgFB7btPpBT7nFs2oDyUM8UdV9M28fR"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_validator_stake_account_3.json"

# clone mainnet bSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "9uj696qdTY4M36G39ZwdM8TaQaFo1dicNSgaWi4QQ6Wd"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_validator_stake_account_4.json"

# clone mainnet bSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "9RsiEbaXHJSiv8oN8AZvWJsKVSJ9MEQ3RNHJCqmRahhD"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_validator_stake_account_5.json"

# clone mainnet bSOL stake pool manager fee account to localnet
[[test.validator.account]]
address = "Dpo148tVGewDPyh2FkGV18gouWctbdX2fHJopJGe9xv1"
filename = "./tests/mocks/mainnet/bSOL_stake_pool_manager_fee_account.json"

###### jitoSOL ######
# clone mainnet jitoSOL mint to localnet
[[test.validator.account]]
address = "J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn"
filename = "./tests/mocks/mainnet/jitoSOL_mint.json"

# clone mainnet jito stake pool to localnet
[[test.validator.account]]
address = "Jito4APyf642JPZPx3hGc6WWJ8zPKtRbRs4P815Awbb"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_account.json"

# clone mainnet jito stake pool's validator list account to localnet
[[test.validator.account]]
address = "3R3nGZpQs2aZo5FDQvd2MUQ6R7KhAPainds6uT6uE2mn"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_list_account.json"

# clone mainnet jitoSOL stake pool reserve stake account to localnet
[[test.validator.account]]
address = "BgKUXdS29YcHCFrPm5M8oLHiTzZaMDjsebggjoaQ6KFL"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_reserve_stake_account.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "GRvL6V7cmr4jVoZuLR7YrzShKUacjJYVEEGZQpma3wwb"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_1.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "uLzZmaSUcdcURgGLQWXJdtsUoJPdVA8uwFUdFCpSGfm"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_2.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "AxGRWMRUutAtgr7PDA1Qc8f8yhfLy3M75aPGWpvH93e9"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_3.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "9vr1htervkxNiT5vSohjaTBefFCnBbLPeAdHCiUVvX6e"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_4.json"

# clone mainnet jitoSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "FWtYEYMhNYJGdGstQ6L6ekSpcYEfQHrzKdeYd1tSE1RR"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_validator_stake_account_5.json"

# clone mainnet jitoSOL stake pool manager fee account to localnet
[[test.validator.account]]
address = "feeeFLLsam6xZJFc6UQFrHqkvVt4jfmVvi2BRLkUZ4i"
filename = "./tests/mocks/mainnet/jitoSOL_stake_pool_manager_fee_account.json"

###### BNSOL ######
# clone mainnet BNSOL mint to localnet
[[test.validator.account]]
address = "BNso1VUJnh4zcfpZa6986Ea66P6TCp59hvtNJ8b1X85"
filename = "./tests/mocks/mainnet/BNSOL_mint.json"

# clone mainnet BNSOL stake pool to localnet
[[test.validator.account]]
address = "Hr9pzexrBge3vgmBNRR8u42CNQgBXdHm4UkUN2DH4a7r"
filename = "./tests/mocks/mainnet/BNSOL_stake_pool_account.json"

###### mSOL ######
# ref: https://docs.marinade.finance/developers/contract-addresses#tokens
# clone mainnet Marinade stake pool program to localnet
[[test.genesis]]
address = "MarBmsSgKXdrN1egZf5sqe1TMai9K1rChYNDJgjq7aD"
program = "./tests/mocks/mainnet/marinade_stake_pool.so"

# clone mainnet mSOL mint to localnet
[[test.validator.account]]
address = "mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"
filename = "./tests/mocks/mainnet/mSOL_mint.json"

# clone mainnet mSOL stake pool to localnet
[[test.validator.account]]
address = "8szGkuLTAux9XMgZ2vtY39jVSowEcpBfFfD8hXSEqdGC"
filename = "./tests/mocks/mainnet/mSOL_stake_pool_account.json"

# clone mainnet mSOL liqudity pool token account to localnet
[[test.validator.account]]
address = "7GgPYjS5Dza89wV6FpZ23kUJRG5vbQ1GM25ezspYFSoE"
filename = "./tests/mocks/mainnet/mSOL_liquidity_pool_token_account.json"

###### bbSOL ######
# clone mainnet Sanctum single validator stake pool program to localnet
[[test.genesis]]
address = "SP12tWFxD9oJsVWNavTTBZvMbA6gkAmxtVgxdqvyvhY"
program = "./tests/mocks/mainnet/sanctum_single_validator_stake_pool.so"

# clone mainnet bbSOL mint to localnet
[[test.validator.account]]
address = "Bybit2vBJGhPF52GBdNaQfUJ6ZpThSgHBobjWZpLPb4B"
filename = "./tests/mocks/mainnet/bbSOL_mint.json"

# clone mainnet bbSOL stake pool to localnet
[[test.validator.account]]
address = "2aMLkB5p5gVvCwKkdSo5eZAL1WwhZbxezQr1wxiynRhq"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_account.json"

# clone mainnet bbSOL stake pool's validator list account to localnet
[[test.validator.account]]
address = "BPVx5RBixdZVecvoDSFECMc8jXkLNTmQp65WYKJz9nr5"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_validator_list_account.json"

# clone mainnet bbSOL stake pool reserve stake account to localnet
[[test.validator.account]]
address = "7huMsYqSXb1m4okiAJgQLPTamgHD2GvWhAou7vhzF51r"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_reserve_stake_account.json"

# clone mainnet bbSOL stake pool manager fee account to localnet
[[test.validator.account]]
address = "HcacehDEp8W4wSdy2oi4HgVoSWwMJDr1kZwXUBSuFfKK"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_manager_fee_account.json"

# clone mainnet bbSOL stake pool's validator stake account which has lots of lamports to localnet
[[test.validator.account]]
address = "71t7QTJ5HsoCdP7gmz2eupSRYzAXFXBKzZwZjmyrWzjz"
filename = "./tests/mocks/mainnet/bbSOL_stake_pool_validator_stake_account_1.json"

###### jito vault program ######
# clone mainnet Jito restaking vault protocol to localnet
[[test.genesis]]
address = "Vau1t6sLNxnzB7ZDsef8TLbPLfyZMYXH8WTNqUdm9g8"
program = "./tests/mocks/mainnet/jito_vault_program.so"

# clone mainnet Jito restaking vault protocol global config to localnet
[[test.validator.account]]
address = "UwuSgAq4zByffCGCrWH87DsjfsewYjuqHfJEpzw1Jq3"
filename = "./tests/mocks/mainnet/jito_vault_config_epoch_length_32.json"

# clone mainnet Jito restaking vault protocol program fee wallet to localnet
[[test.validator.account]]
address = "5eosrve6LktMZgVNszYzebgmmC7BjLK8NoWyRQtcmGTF"
filename = "./tests/mocks/mainnet/jito_program_fee_wallet_vrt_account.json"

###### jito restaking program ######
# clone mainnet Jito restaking protocol to localnet
[[test.genesis]]
address = "RestkWeAVL8fRGgzhfeoqFhsqKRchg6aa1XrcH96z4Q"
program = "./tests/mocks/mainnet/jito_restaking_program.so"

# clone mainnet Jito restaking protocol global config to localnet
[[test.validator.account]]
address = "4vvKh3Ws4vGzgXRVdo8SdL4jePXDvCqKVmi21BCBGwvn"
filename = "./tests/mocks/mainnet/jito_restaking_config.json"

# clone mainnet Jito restaking protocol operator: InfStones
[[test.validator.account]]
address = "5TGRFaLy3eF93pSNiPamCgvZUN3gzdYcs7jA3iCAsd1L"
filename = "./tests/mocks/mainnet/jito_restaking_operator_1.json"

# clone mainnet Jito restaking protocol operator: Hashkey
[[test.validator.account]]
address = "2sHNuid4rus4sK2EmndLeZcPNKkgzuEoc8Vro3PH2qop"
filename = "./tests/mocks/mainnet/jito_restaking_operator_2.json"

# clone mainnet Jito restaking protocol operator: Pier Two
[[test.validator.account]]
address = "GZxp4e2Tm3Pw9GyAaxuF6odT3XkRM96jpZkp3nxhoK4Y"
filename = "./tests/mocks/mainnet/jito_restaking_operator_3.json"

# clone mainnet Jito restaking protocol operator: Luganodes
[[test.validator.account]]
address = "LKFpfXtBkH5b7D9mo8dPcjCLZCZpmLQC9ELkbkyVdah"
filename = "./tests/mocks/mainnet/jito_restaking_operator_4.json"

# clone mainnet Jito restaking protocol operator: Everstake
[[test.validator.account]]
address = "FzZ9EXmHv7ANCXijpALUBzCza6wYNprnsfaEHuoNx9sE"
filename = "./tests/mocks/mainnet/jito_restaking_operator_5.json"

# clone mainnet Jito restaking protocol operator: Temporal
[[test.validator.account]]
address = "CA8PaNSoFWzvbCJ2oK3QxBEutgyHSTT5omEptpj8YHPY"
filename = "./tests/mocks/mainnet/jito_restaking_operator_6.json"

# clone mainnet Jito restaking protocol operator: Chorus One
[[test.validator.account]]
address = "7yofWXChEHkPTSnyFdKx2Smq5iWVbGB4P1dkdC6zHWYR"
filename = "./tests/mocks/mainnet/jito_restaking_operator_7.json"

# clone mainnet Jito restaking protocol operator: KILN
[[test.validator.account]]
address = "29rxXT5zbTR1ctiooHtb1Sa1TD4odzhQHsrLz3D78G5w"
filename = "./tests/mocks/mainnet/jito_restaking_operator_8.json"

# clone mainnet Jito restaking protocol operator: Helius
[[test.validator.account]]
address = "BFEsrxFPsBcY2hR5kgyfKnpwgEc8wYQdngvRukLQXwG2"
filename = "./tests/mocks/mainnet/jito_restaking_operator_9.json"

###### fragSOL ######
# clone initial ALT of fragSOL for faster bootstrap
[[test.validator.account]]
address = "G45gQa12Uwvnrp2Yb9oWTSwZSEHZWL71QDWvyLz23bNc"
filename = "./tests/mocks/local/fragsol_address_lookup_table.json"

# clone empty fragSOL Jito nSOL vault
[[test.validator.account]]
address = "9rNA5PpjRPGxexDSoffQ8yRhMBMvRQrffwSnDBcXJjwY"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault.json"

# clone empty vrt mint for fragSOL Jito nsol vault
[[test.validator.account]]
address = "J6AS6PFJip13cStdiuvRrLz2hDZiZvxdLhmsopN7YTDM"
filename = "./tests/mocks/local/fragsol_jito_nsol_vrt_mint.json"

# clone empty fragSOL Jito jitoSOL vault
[[test.validator.account]]
address = "6m2a6ybV4rZ3T5s3oBVDsU2rUuv6ByyCs3KMtv316F4b"
filename = "./tests/mocks/local/fragsol_jito_jitosol_vault.json"

# clone empty vrt mint for fragSOL Jito jitoSOL vault
[[test.validator.account]]
address = "7FViuSBAkJktHkN4jFxFRSmKat9hNenf3MDcbhVRSu24"
filename = "./tests/mocks/local/fragsol_jito_jitosol_vrt_mint.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Infstones
[[test.validator.account]]
address = "D4PF5uzMG5LU68x6xbi8po9a16qcDuCRAfiDrn7Jg8pa"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_1.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Hashkey
[[test.validator.account]]
address = "BaF6o4PqWVfXcukqBqx7fzYVDqM7EgZHkgTzpWq1NqxK"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_2.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Pier Two
[[test.validator.account]]
address = "5GWU4cpM2RMHtQcisjGqp61TMh248YVejZFX4THokt57"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_3.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Luganodes
[[test.validator.account]]
address = "GUfnkNBhHUxzq6GLaNuk6ULBFVdnP9i81GxubKFT5Bnw"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_4.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Everstake
[[test.validator.account]]
address = "CtcrcrH37MbCTp5EdpykRW74aWHFru4THfbsBqtdnmci"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_5.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Temporal
[[test.validator.account]]
address = "Fd1veQDS3xTzssNRtW8SnW8g8sbu4RDS7yiXpUpCFuEJ"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_6.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Chorus One
[[test.validator.account]]
address = "DghtBJg9SvUfDZRrrdRieQtQsRWnLwatbatXUHTrLnXJ"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_7.json"

# clone empty fragSOL Jito nSOL vault operator delegation: KILN
[[test.validator.account]]
address = "7pF1AQjjzexGCnrR6MdoeGnr3vgsTwwL1vrB9GfsDr7H"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_8.json"

# clone empty fragSOL Jito nSOL vault operator delegation: Helius
[[test.validator.account]]
address = "Hpv7Q4YqYmSjtuERUn5ivZTBApQsEN9vwrf8oUb4zGHw"
filename = "./tests/mocks/local/fragsol_jito_nsol_vault_operator_delegation_9.json"

###### JTO ######
# clone mainnet JTO mint to localnet
[[test.validator.account]]
address = "jtojtomepa8beP8AuQc6eXt5FriJwfFMwQx2v2f9mCL"
filename = "./tests/mocks/mainnet/jto_mint.json"

[[test.validator.account]]
address = "2UhFnySoJi6c89aydGAGS7ZRemo2dbkFRhvSJqDX4gHJ"
filename = "./tests/mocks/mainnet/orca_wsol_jto_liquidity_pool_account.json"

###### fragJTO ######
# clone initial ALT of fragJTO for faster bootstrap
[[test.validator.account]]
address = "FQ3yeuugxQ6ZhdcoTrFdm8h42uEMpjCnor1kEuvVEsdw"
filename = "./tests/mocks/local/fragjto_address_lookup_table.json"

# clone empty fragJTO Jito JTO vault
[[test.validator.account]]
address = "3MakQASjFk7H7ucyEcA5FUSg6sP2pMxXjVajBEcofn36"
filename = "./tests/mocks/local/fragjto_jito_jto_vault.json"

# clone empty vrt mint for fragJTO Jito JTO vault
[[test.validator.account]]
address = "8VHeGZjPRswfDKqNuZfkrBEXH2uhYnuG4ejeKumeMWBu"
filename = "./tests/mocks/local/fragjto_jito_jto_vrt_mint.json"

# clone empty fragJTO Jito JTO vault operator delegation: Infstones
[[test.validator.account]]
address = "7gFXRPcjBCSUcj4STdptuQWCb146HWBZ4zq1kkzxPorN"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_1.json"

# clone empty fragJTO Jito JTO vault operator delegation: Hashkey
[[test.validator.account]]
address = "H5Fp8iqfAtUZxizHqHsEgZBbPsu8FwySv61uhs8uJGDG"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_2.json"

# clone empty fragJTO Jito JTO vault operator delegation: Pier Two
[[test.validator.account]]
address = "44rxT4DnjsWVgcd14WdxsP6uQ3t2hTPChShwrmThJmJr"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_3.json"

# clone empty fragJTO Jito JTO vault operator delegation: Luganodes
[[test.validator.account]]
address = "Dn6cqaYNuFdSs1cLujwvCwexMZq45bjPugSfNgEhGeRT"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_4.json"

# clone empty fragJTO Jito JTO vault operator delegation: Everstake
[[test.validator.account]]
address = "5PiUmsQneHR3H59FmV8iKtj7WtLcoNFRsWdHhnvYoxhW"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_5.json"

# clone empty fragJTO Jito JTO vault operator delegation: Temporal
[[test.validator.account]]
address = "83PyVe4wEKB4k46zNXVEB9W2dmtmW2RDFfMBg8P56VhU"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_6.json"

# clone empty fragJTO Jito JTO vault operator delegation: Chorus One
[[test.validator.account]]
address = "EbppTWK69jz3or8u6p7NdT9ogjo36ja5Wggtd9UmMU3f"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_7.json"

# clone empty fragJTO Jito JTO vault operator delegation: KILN
[[test.validator.account]]
address = "24iCAXE1HFcSqs2p9DDTBD6XvCo7WfsmFGdDEAXSt3cb"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_8.json"

# clone empty fragJTO Jito JTO vault operator delegation: Helius
[[test.validator.account]]
address = "44Y6asW2f3oU1i71ATYANgiJ3qkQezcKGdDefLHTEbKn"
filename = "./tests/mocks/local/fragjto_jito_jto_vault_operator_delegation_9.json"

###### Orca ######
# Orca JTO-jitoSOL Liquidity pool
[[test.genesis]]
address = "whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc"
program = "./tests/mocks/mainnet/orca_whirlpool_program.so"

[[test.validator.account]]
address = "G2FiE1yn9N9ZJx5e1E2LxxMnHvb1H3hCuHLPfKJ98smA"
filename = "./tests/mocks/mainnet/orca_jto_jitosol_liquidity_pool_account.json"

[[test.validator.account]]
address = "7fku98xvSRXusRHWUh7vEvRRjCq2akzBinipKsQPXg9u"
filename = "./tests/mocks/mainnet/orca_jto_jitosol_liquidity_pool_jto_vault_account.json"

[[test.validator.account]]
address = "AVZgewZzC8AQRCeXJTSnzQof25Y4R77tma59Htp5w245"
filename = "./tests/mocks/mainnet/orca_jto_jitosol_liquidity_pool_jitosol_vault_account.json"
