[toolchain]

[features]
resolution = true
skip-lint = false

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./keypairs/shared_wallet_GiDkDCZjVC8Nk1Fd457qGSV2g3MQX62n7cV5CvgFyGfF.json"

[scripts]
sync-keypairs = "tsx tools/restaking/keychain_sync_entrypoint.ts"
download-keypairs = "cd keypairs && (which jq 1>/dev/null || brew install jq) && aws secretsmanager get-secret-value --profile encrypt_dev --secret-id wallet --region ap-northeast-2 --output json | jq .SecretString | jq -c fromjson | jq -r 'to_entries[] | \"\\(.key) \\(.value)\"' | while read -r key value; do echo $value > $key; done"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test.validator]
url = "https://api.mainnet-beta.solana.com" # where to clone below acconts from
bind_address = "0.0.0.0"
ledger = ".anchor/test-ledger"
rpc_port = 8899

# mock mainnet bSOL mint to localnet
[[test.validator.account]]
address = "bSo13r4TkiE4KumL71LsHTPpL2euBYLFx6h9HP3piy1"
filename = "tests/mocks/mainnet/bSOL_mint.json"

# mock mainnet jitoSOL mint to localnet
[[test.validator.account]]
address = "J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn"
filename = "tests/mocks/mainnet/jitoSOL_mint.json"

# mock mainnet mSOL mint to localnet
[[test.validator.account]]
address = "mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"
filename = "tests/mocks/mainnet/mSOL_mint.json"

# clone mainnet bSOL stake pool to localnet
[[test.validator.clone]]
address = "stk9ApL5HeVAwPLr3TLhDXdZS8ptVu7zp6ov8HFDuMi"

# clone mainnet jitoSOL stake pool to localnet
[[test.validator.clone]]
address = "Jito4APyf642JPZPx3hGc6WWJ8zPKtRbRs4P815Awbb"

# clone mainnet mSOL stake pool to localnet
[[test.validator.clone]]
address = "8szGkuLTAux9XMgZ2vtY39jVSowEcpBfFfD8hXSEqdGC"
