[workspace]
members = [
    "programs/*",
    "clients/rust/*",
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.package]
authors = ["Fragmetric Labs <contacts@fragmetric.xyz>"]
repository = "https://github.com/fragmetric-labs/contracts"
homepage = "https://fragmetric.xyz"
license = "private"
readme = "README.md"
edition = "2021"

[workspace.dependencies]
anchor-lang = { version = "0.30.1", features = ["interface-instructions", "event-cpi"], git = "https://github.com/fragmetric-labs/anchor.git", branch = "v0.30.1" }
anchor-spl = { version = "0.30.1", git = "https://github.com/fragmetric-labs/anchor.git", branch = "v0.30.1" }
bytemuck = { version = "1.21.0", features = ["derive", "min_const_generics"] }
jito-vault-sdk = { git = "https://github.com/jito-foundation/restaking.git", version = "0.0.3", tag = "v0.0.3" }
jito-vault-core = { git = "https://github.com/jito-foundation/restaking.git", version = "0.0.3", tag = "v0.0.3" }
jito-bytemuck = { git = "https://github.com/jito-foundation/restaking.git", version = "0.0.3", tag = "v0.0.3" }
spl-tlv-account-resolution = "0.6.5"
spl-transfer-hook-interface = "0.6.5"
spl-stake-pool = { version = "1.0.0", features = ["no-entrypoint"] }
borsh = "0.10.4"
thiserror = "2.0.11"
num-derive = "0.4.2"
num-traits = "0.2.19"
serde = { version = "1.0.217", features = ["derive"] }
serde_with = "3.12.0"
proptest = "1.6.0"

solana-program = "1.18.15"
solana-program-test = "1.18.15"
solana-sdk = "1.18.15"

marinade-cpi = { path = "./clients/rust/marinade-cpi" }  # TODO: deprecate
whirlpool-cpi = { path = "./clients/rust/whirlpool-cpi" } # TODO: deprecate
marinade-client = { path = "./clients/rust/marinade", features = ["anchor"] }
whirlpool-client = { path = "./clients/rust/whirlpool", features = ["anchor"] }
